{% extends '../templates/default.twig' %}

{% block content %}

    <div class="domain domain--demographics">

        {{ form_open({url: [response.uuid, domain, 'post'], 'data-validation': true }) }}

            <div class="pagination" data-pagination>
                <div class="pagination__page" data-pagination-page>

                    <h2 class="domain__title">
                        <div class="domain__icon">
                            <i class="icon icon--demographics"></i>
                            <i class="icon icon--demographics-small"></i>
                        </div>
                        Personal details
                    </h2>

                    <p>{{ trans('demographics.personal_details') }}</p>

                    {% for question in data.questions[0] %}
                        <div class="question">
                            <h2 class="question__title">
                                {{ question.title }}
                            </h2>
                            {% include 'survey/question_type/' ~ question.type ~ '.twig' %}
                        </div>
                    {% endfor %}

                </div>
                <div class="pagination__page" data-pagination-page>

                    {% for question in data.questions[1] %}
                        <div class="question">
                            <h2 class="question__title">
                                {{ question.title }}
                            </h2>
                            {% include 'survey/question_type/' ~ question.type ~ '.twig' %}
                        </div>
                    {% endfor %}

                </div>

                <nav class="pagination__nav pagination__nav--demographics">
                    <div class="pagination__prev">
                        <a
                            href="{{ previous_page }}"
                            class="button button--medium pagination__prev"
                            data-pagination-back>
                            <i class="icon icon--hand-l"></i>
                            {{ trans('form.previous') }}
                        </a>
                        <button
                            class="button button--medium pagination__prev pagination__nav-item"
                            data-pagination-prev>
                            <i class="icon icon--hand-l"></i>
                            {{ trans('form.previous') }}
                        </button>
                    </div>
                    <div class="pagination__next">
                        <button
                            class="button button--medium pagination__nav-item"
                            data-pagination-next>
                            {{ trans('form.next') }}
                            <i class="icon icon--hand-r"></i>
                        </button>
                        <button
                            type="submit"
                            class="button button--medium"
                            data-pagination-continue>
                            {{ trans('form.next') }}
                            <i class="icon icon--hand-r"></i>
                        </button>
                    </div>
                </nav>
            </div>

        {{ form_close() }}

    </div>

{% endblock %}
