{% extends '../layouts/app.twig' %}

{% block content %}

    {{ form_open({url: ['admin', 'surveys']}) }}

	    <div class="form-group">
	    	<label for="slug">Slug</label>
	    	{{ form_textarea('slug') }}
		</div>

        <div class="form-group">
        	<label for="text">Text</label>
        	{{ form_textarea('text') }}
    	</div>

        <div class="form-group">
        	<label for="small_text">Small text</label>
        	{{ form_textarea('small_text') }}
    	</div>

        <div class="form-group">
        	<label for="admin_name">Admin name</label>
        	{{ form_textarea('admin_name') }}
    	</div>

        <div class="form-group">
        	<label for="admin_email">Admin email</label>
        	{{ form_textarea('admin_email') }}
    	</div>

        <div class="form-group">
        	{{ form_radio('active', 1, false) }} Yes
        	{{ form_radio('active', 0, false) }} No
    	</div>

        <div class="form-group">
        	<label for="expires">Expires</label>
        	{{ form_textarea('expires_at') }}
    	</div>

        <div class="form-group">
        	<label for="startdate">Startdate</label>
        	{{ form_textarea('starts_at') }}
    	</div>

        <div class="form-group">
        	{{ form_radio('anonymized', 1, false) }} Yes
        	{{ form_radio('anonymized', 0, false) }} No
    	</div>

        <div class="form-group">
        	{{ form_radio('allow_registration', 1, false) }} Yes
        	{{ form_radio('allow_registration', 0, false) }} No
    	</div>

        <div class="form-group">
        	<label for="description_text">Description text</label>
        	{{ form_textarea('description_text') }}
    	</div>

        <div class="form-group">
        	<label for="welcome_text">Welcome text</label>
        	{{ form_textarea('welcome_text') }}
    	</div>

        <div class="form-group">
        	<label for="end_text">End text</label>
        	{{ form_textarea('end_text') }}
    	</div>

        <div class="form-group">
        	<label for="url_callback">Url callback</label>
        	{{ form_textarea('url_callback') }}
    	</div>

        {{ form_submit() }}
    {{ form_close() }}

{% endblock %}
