{% extends '../layouts/app.twig' %}

{% block content %}

    <div class="container">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Edit this survey</h3>
            </div>

            <div class="panel-body">

	           {{ form_open({route: ['admin.surveys.update', survey.id]}) }}

	               <input type="hidden" name="_method" value="PATCH">

                    <div class="form-group{{ errors.has('slug') ? ' has-error' : '' }}">
                        <label for="type">Slug:</label>
                        <input class="form-control" name="slug" value="{{ survey.slug }}">
                        {% if errors.has('slug') %}
                            <span class="help-block">
                                <strong>{{ errors.first('slug') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group{{ errors.has('text') ? ' has-error' : '' }}">
                        <label for="type">Text:</label>
                        <textarea class="form-control" rows="5" name="text">{{ survey.text }}</textarea>
                        {% if errors.has('text') %}
                            <span class="help-block">
                                <strong>{{ errors.first('text') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group{{ errors.has('small_text') ? ' has-error' : '' }}">
                        <label for="type">Small text:</label>
                        <textarea class="form-control" rows="3" name="small_text">{{ survey.small_text }}</textarea>
                        {% if errors.has('small_text') %}
                            <span class="help-block">
                                <strong>{{ errors.first('small_text') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group{{ errors.has('admin_name') ? ' has-error' : '' }}">
                        <label for="type">Admin name:</label>
                        <input class="form-control" name="admin_name" value="{{ survey.admin_name }}">
                        {% if errors.has('admin_name') %}
                            <span class="help-block">
                                <strong>{{ errors.first('admin_name') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group{{ errors.has('admin_email') ? ' has-error' : '' }}">
                        <label for="type">Admin email:</label>
                        <input class="form-control" name="admin_email" value="{{ survey.admin_email }}">
                        {% if errors.has('admin_email') %}
                            <span class="help-block">
                                <strong>{{ errors.first('admin_email') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="starts_at">Start date</label>
                        <input class="form-control" name="starts_at" value="{{ survey.starts_at }}">
                        {% if errors.has('starts_at') %}
                            <span class="help-block">
                                <strong>{{ errors.first('starts_at') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="expires_at">Expires at</label>
                        <input class="form-control" name="expires_at" value="{{ survey.expires_at }}">
                        {% if errors.has('expires_at') %}
                            <span class="help-block">
                                <strong>{{ errors.first('expires_at') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>Active</label>
                        <div class="radio">
                            <label>
                                <input type="checkbox" value="1" name="active" {% if survey.active %}checked="checked"{% endif %}> Yes
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Anonymous</label>
                        <div class="radio">
                            <label>
                                <input type="checkbox" value="1" name="anonymized" {% if survey.anonymized %}checked="checked"{% endif %}> Yes
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Allow registration</label>
                        <div class="radio">
                            <label>
                                <input type="checkbox" value="1" name="allow_registration" {% if survey.allow_registration %}checked="checked"{% endif %}> Yes
                            </label>
                        </div>
                    </div>

                    <div class="form-group{{ errors.has('description_text') ? ' has-error' : '' }}">
                        <label for="type">Description text:</label>
                        <textarea class="form-control" rows="5" name="description_text">{{ survey.description_text }}</textarea>
                        {% if errors.has('description_text') %}
                            <span class="help-block">
                                <strong>{{ errors.first('description_text') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group{{ errors.has('welcome_text') ? ' has-error' : '' }}">
                        <label for="type">Welcome text:</label>
                        <textarea class="form-control" rows="5" name="welcome_text">{{ survey.welcome_text }}</textarea>
                        {% if errors.has('welcome_text') %}
                            <span class="help-block">
                                <strong>{{ errors.first('welcome_text') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group{{ errors.has('end_text') ? ' has-error' : '' }}">
                        <label for="type">End text:</label>
                        <textarea class="form-control" rows="5" name="end_text">{{ survey.end_text }}</textarea>
                        {% if errors.has('end_text') %}
                            <span class="help-block">
                                <strong>{{ errors.first('end_text') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group{{ errors.has('url_callback') ? ' has-error' : '' }}">
                        <label for="type">Url callback:</label>
                        <input class="form-control" name="url_callback" value="{{ survey.url_callback }}">
                        {% if errors.has('url_callback') %}
                            <span class="help-block">
                                <strong>{{ errors.first('url_callback') }}</strong>
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>

                {{ form_close() }}
            </div>
        </div>
    </div>

{% endblock %}