{% extends '../layouts/app.twig' %}

{% block content %}

	{% for survey in surveys %}
        <h1>{{ survey.text }}</h1>
	    <h2>{{ survey.small_text }}</h2>

	    <p>{{ survey.description_text }}</p>
	    <p>{{ survey.welcome_text }}</p>

        <a class="btn btn-small btn-success" href="{{ route('admin.surveys.show', [survey.id]) }}">Show</a>
        <a class="btn btn-small btn-info" href="{{ route('admin.surveys.edit', [survey.id]) }}">Edit</a>

	    <hr>
    {% endfor %}

{% endblock %}