{% extends '../templates/default.twig' %}

{% block content %}

    {{ form_open({url: ['surveys', survey.id, 'groups', group.id, 'questions']}) }}

	    <div class="form-group">
	    	<label for="type">Type</label>
	    	{{ form_textarea('type') }}
		</div>

        <div class="form-group">
        	<label for="text">Text</label>
        	{{ form_textarea('text') }}
    	</div>

        <div class="form-group">
        	<label for="small_text">Small text</label>
        	{{ form_textarea('small_text') }}
    	</div>

        {{ form_submit() }}
    {{ form_close() }}

{% endblock %}
