{% extends '../layouts/app.twig' %}

{% block content %}

	<div class="container">

		<div class="row">
		    <div class="col-md-12">
		  		<a class="btn btn-info" href="{{ route('admin.surveys.groups.questions.create', [survey.id, group.id]) }}">Create new question</a>
		  	</div>
		</div>

		<hr>

		<div class="row">
		    <div class="col-md-12">

				{% for question in questions %}

				    <div class="panel panel-default">

					  	<div class="panel-heading clearfix">
						    <div class="btn-group pull-right">
						        <a class="btn btn-small btn-success" href="/admin/surveys/{{ survey.id }}/groups/{{ group.id }}/questions/{{ question.id }}">Show</a>
        						<a class="btn btn-small btn-info" href="/admin/surveys/{{ survey.id }}/groups/{{ group.id }}/questions/{{ question.id }}/edit">Edit</a>
						    	{{ form_open({route: ['admin.surveys.groups.questions.destroy', survey.id, group.id, question.id], class: "pull-right"}) }}
							    	<input type="hidden" name="_method" value="DELETE">
									<button type="submit" class="btn btn-info">Delete</button>
								{{ form_close() }}
						    </div>
					    </div>

					  	<div class="panel-body">
						    <h1>{{ question.text }}</h1>
	    					<p>{{ question.small_text }}</p>
	    					<p>{{ question.type }}</p>
					  	</div>

					  	<div class="panel-footer">

					  	</div>

					</div>

			    {% endfor %}

	    	</div>
		</div>

    </div>

{% endblock %}