{% extends '../templates/default.twig' %}

{% block content %}

    <h1>{{ survey.text }}</h1>

    <h2>{{ group.text }}</h2>
    <p>{{ group.small_text }}</p>

    <div>
        {{ form_open() }}
            {% for question in survey.questions %}
                {% if question.type != 'boilerplate' and question.type != null %}
                    <h3>{{ question.text }}</h3>
                    <p>{{ question.small_text }}</p>
                {% endif %}
                {% if question.type != null %}
                    {% include 'survey/question_type/' ~ question.type ~ '.twig' %}
                {% endif %}
            {% endfor %}
            {{ form_submit() }}
        {{ form_close() }}
    </div>

{% endblock %}
